html
head
    link(rel='stylesheet', href='/style.css', type="text/css")
    title Person
    body
            form(id="poll" action = "/admin" method = "POST")
                div

                    label(for = "question") Question:
                    input(name = "question")
                br
                div
                    label(for = "description") Description:
                    input(name = "description" )
                br
                div
                    label(for = "answerAmount") Amount of Answers?
                    input(name = "answerAmount")
                br
                div
                    label(for = "answer1") Answer1:
                    input(name = "answers")
                br
                div
                    label(for = "answer2") Answer2:
                    input(name = "answers")
                br
                div
                    label(for = "answer3") Answer3:
                    input(name = "answers")
                br
                div
                    label(for = "answer4") Answer4:
                    input(name = "answers")
                button(type = "submit") Submit Poll