html
html
    head
        title Form Tester
    body
        form(action = "/", method = "POST")
            div
                label(for = "say") Say:
                input(name = "say" value = "Hi")
            br
            div
                label(for = "to") To:
                input(name = "to" value = "Express forms")
            br
            button(type = "submit") Send my greetings
                if type === "error"
                    h3(style = "color:red") #{message}
                else
                    p New poll added!
