html
    body
        form(id="poll" action = "/player", method = "POST",)
            each val in questions
                div
                    h1= val.question
                    p= val.description
                    - var answerCount = 0
                    each answers in val.answers
                        p= val.answers[answerCount]
                        button(name=val.id type = "submit" value=val.voteId[answerCount]) Vote
                        progress(value=val.votes[answerCount] max=val.max)
                        - answerCount++